<div class="container-fluid">
    <div class="jumbotron">
<h3>Metric</h3>

        <table class="table">
            <thead>
                <tr>
                    <td>Total</td>
                    <td></td>

                    <td></td>
                    <td>Cash and Balances</td>
                    <td>Receivable under reverse repo</td>
                    <td>Renegotiation CD</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><b>Outstanding amount</b></td>

                    <td> </td>
                    <td>
                        Account :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                        Loan :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                        Security :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                    </td>
                    <td>
                        Account :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                        Loan :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                        Security :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                    </td>
                    <td>
                        Account :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                        Loan :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                        Security :<a data-toggle="modal" data-target="#myModal"> outstanding amount</a><br>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td><b>Add: Accreted intrest receivable</b></td>

                    <td>
                        Account :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Loan :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Security :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                    </td>
                    <td>
                        Account :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Loan :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Security :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                    </td>
                    <td>
                        Account :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Loan :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Security :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                    </td>
                    <td>
                        Account :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Loan :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                        Security :<a data-toggle="modal" data-target="#accured"> accrued intrest to zero</a><br>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><b>Less: Stage 1 loss allowance</b></td>

                    <td>
                        Loan :<a data-toggle="modal" data-target="#impairment"> Impairment amount to zero</a>

                    </td>
                    <td>
                        Loan :<a data-toggle="modal" data-target="#impairment"> Impairment amount to zero</a>
                    </td>
                    <td>
                        Loan :<a data-toggle="modal" data-target="#impairment"> Impairment amount to zero</a>
                    </td>
                    <td>
                        Loan :<a data-toggle="modal" data-target="#impairment"> Impairment amount to zero</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: cornflowerblue;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Outstanding amount</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5 style="background-color: coral;">Description</h5>
                <p>Demo Description</p>
                <br>
                <h5 style="background-color: coral;">Code</h5>
                <p>Demo code</p>
                <div>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="impairment">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: cornflowerblue;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Impairment amount to zero</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5 style="background-color: coral;">Description</h5>
                <p>Demo Description</p>
                <br>
                <h5 style="background-color: coral;">Code</h5>
                <p>Demo code</p>
                <div>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="accured">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: cornflowerblue;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">accrued intrest to zero</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5 style="background-color: coral;">Description</h5>
                <p>Demo Description</p>
                <br>
                <h5 style="background-color: coral;">Code</h5>
                <p>Demo code</p>
                <div>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>