<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/report-types']">Report Types</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/documentation']">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/condition']">Condition</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/metric']">Metric</a>
    </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aggrigator']">Aggrigator</a>
        </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Source
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/source1']">Source 1</a>
        <a class="dropdown-item" [routerLink]="['/source2']">Source 2</a>
        <a class="dropdown-item" [routerLink]="['/source3']">Source 3</a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>